@import '../../App.scss';

.home {
    margin: 8rem 0 0 3rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;

    h2{
        font-size: 2rem;
        font-weight: 600;
        color: $color-light;
    }
    p{  
        margin : 0.5rem 0;
        font-size: 1rem;
        font-weight: 400;
        color: $color-light;
        
    }

    @media screen and (min-width: 768px) {
        margin: 8rem 0 0 7rem;
    }

    @media screen and (min-width: 1024px) {
        margin: 10rem 0 0 9rem;
        flex-direction: row;
    }

    .trending-section {
        padding-right: 2rem;
        @media screen and (min-width: 1024px){
            border-right: 3px solid $color-light;
        }

        .trending-title{
            font-size: 2rem;
            font-weight: 600;
            color: $color-primary;
            margin: 0 0 2rem 0;

        }

        .trending-list {
            margin: 1rem 0;
            ul {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;
                li {
                    flex: 1;
                    list-style: none;
                    text-align: left;
                    text-transform: capitalize;
                    font-size: 1rem;
                    font-weight: 600;
                    color: $color-secondary;
                    cursor: pointer;

                    &:hover {
                        color: $color-primary;
                    }

                    img{
                            display: block;
                            width: 18rem;
                            height: 5rem;
                            object-fit: cover;
                    }
                }
            }
        }
    }

    .search-section {
        flex:1;
        padding-right: 2rem;
        margin: 2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }
}
