@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

$color-light: #fff;
$color-dark: #1a1a24;
$color-primary: #f55d5c;
$color-secondary: #928b85;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $color-dark;
    color: $color-light;
    font-weight: 800;
    height: 100vh;
}

a,
button,
select,
textarea,
input {
    font-family: inherit;
    font-weight: inherit;
}
